body {
    font-family: "Cairo", sans-serif;
}

.site-footer {
    background: radial-gradient(50% 50%, #F0ED00, #1F46F0, black);
    color: white;
    padding: 20px 0;
}

.jumbotron {
    background: radial-gradient(60% 60%, #F0ED00 20%, #1F46F0, black 70%);
    background-size: contain;
    background-repeat: no-repeat;
    height: 75vh;
    margin-bottom: 0px;
  }

  #beSticky {
      background: linear-gradient(#F0ED00, #1F46F0);
      height: 100px;
  }

  .row-content {
      min-height: 300px;
      background-color: #F0ED00;
      padding: 30px;
  }
  .row-content2 {
    min-height: 300px;
    padding: 30px;
} 

  .media-body {
      padding: 30px;
  }

  .media {
      
  }

  #images {
      width: auto;
      max-height: 75%;
  }

  .nav-link {
      color: white;
  }

