body {
    font-family: "Cairo", sans-serif;
}

 #myLogo {
    color: white;
    font-weight: bolder;
    font-size: x-large;
}

h1 {
    color: white;
}

#reserveButton {
    background-color:#9f99ec;
    box-shadow: 10px 10px 5px 5px #888888;
}


.site-footer {
    background: #4a2c2a;
    color: white;
    padding: 20px 0;
}

.jumbotron {
    background-color: #4a2c2a;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    margin-bottom: 0px;
    padding-bottom: 20%;
  }

  .jumbotron h1 {
      font-size: 48px;
      color: white;
  }
  #beSticky {
      height: 100px;
  }

  .row-content {
      min-height: 300px;
      background-color: #4E7296;
      padding: 30px;
  }
  .row-content2 {
    min-height: 300px;
    padding: 30px;
} 

  #images {
      width: auto;
      max-height: 75%;
  }

  .nav-link {
      color: black;
  }

  .doit {
      position: absolute;
      top: 70%;
      left: 5%;
      text-align: left;
      padding-bottom: 10px; 
  }

  .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

  