body {
    font-family: "Cairo", sans-serif;
}

 #myLogo {
    color: white;
    font-weight: bolder;
    font-size: x-large;
}

h1 {
    color: white;
}

#reserveButton {
    background-color:#F0ED00;
}

.navbar-toggler-icon {
    background-image: url("../img/yellowhammie.svg") !important;
}

.site-footer {
    background: radial-gradient(50% 50%, #F0ED00, #142b54, #0a091a);
    color: white;
    padding: 20px 0;
}

.jumbotron {
    background-image: url("../img/indeximage.jpg");
    background-color: #0a091a;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    margin-bottom: 0px;
    padding-bottom: 20%;
  }

  .jumbotron h1 {
      display: block;
      padding-top: 70%;
      font-size: 48px;
      color: #F0ED00;
  }
  #beSticky {
      height: 100px;
  }

  .row-content {
      min-height: 300px;
      background-color: #F0ED00;
      padding: 30px;
  }
  .row-content2 {
    min-height: 300px;
    padding: 30px;
} 

  .media-body {
      padding: 30px;
  }


  #images {
      width: auto;
      max-height: 75%;
  }

  .nav-link {
      color: white;
  }

  .doit {
      align-items: flex-end !important;
  }
